/*
 * main.css
 */

a {
    text-decoration: none;
}

body {
    padding-left: 100px;
    padding-right: 100px;
    font-family: monospace;
}

header {
    text-align: center;
}

h2 .selector {
    font-size: x-small;
}

.page {
    margin-left: 12.5%;
    margin-right: 12.5%;
}

.page section {
    padding: 5px;
}

.page section h2 {
    font-family: 'TheSerifOffice',georgia,serif;
}

footer {
    text-align: right;
}

.post_header {
    border-left: solid 5px black;
    padding-left: 5px;
}

.post_title {
    font-size: large;
    font-weight: bold;
}

.post {
    font-family: 'TheSerifOffice',georgia,serif;
}

pre {
    font-family: monospace;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    padding: 10px;
}

code {
    font-family: monospace;
}

footer {
    font-family: monospace;
}
